
node_modules/
npm-debug.log*


.env
.env.local



docker-compose.override.yml

*.log
logs/

# dados sensiveis do negócio não vão no git hub
data_lake/


.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

antigo_docker-compose.yml
imagem_localhost.JPG
info.txt
check-env.ps1